:root {
    --clr-light: #FFFFFF;
    --clr-light-200: #F3F3F3; /* button */
    --clr-light-300: #EFEFEF; /* section bg color */
    --clr-light-400: #E0E0E0; /* h2 highlight */
    --clr-light-500: #C4C4C4; /* footer link color */
    --clr-light-600: #A0A0A0; /* bg highlighter */
    --clr-light-700: #9B9B9B; /* price */

    --clr-danger: #FC4242; 
    
    --clr-dark: #000000;
    --clr-dark-100: #181818 ; /* button , nav link underline */
    --clr-dark-200: #2F2F2F; /* underline */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* UTILITIES */

.text-light {
    color: var(--clr-light) !important;
}

.text-light-200 {
    color: var(--clr-light-200) !important;
}

.text-light-300 {
    color: var(--clr-light-300) !important;
}

.text-light-400 {
    color: var(--clr-light-400) !important;
}

.text-light-500 {
    color: var(--clr-light-500) !important;
}

.text-light-600 {
    color: var(--clr-light-600) !important;
}

.text-light-700 {
    color: var(--clr-light-700) !important;        
}

.text-danger {
    color: var(--clr-danger) !important;
}

.text-dark {
    color: var(--clr-dark) !important;
}

.text-dark-100 {
    color: var(--clr-dark-100) !important;
}

.text-dark-200 {
    color: var(--clr-dark-200) !important;
}

