body::before {
    display: block;
    content: '';
    height: 3rem;
}

.text-light {
    color: #FFFFFF !important;
}

.text-light-200 {
    color: #F3F3F3 !important;
}

.text-light-300 {
    color: #EFEFEF !important;
}

.text-light-400 {
    color: #E0E0E0 !important;
}

.text-light-500 {
    color: #C7C7C7 !important;
}

.text-light-600 {
    color: #A0A0A0 !important;
}

.text-light-700 {
    color: #9B9B9B !important;        
}

.text-danger {
    color: #FC4242 !important;
}

.text-dark {
    color: #000000 !important;
}

.text-dark-100 {
    color: #2F2F2F !important;
}

.text-dark-200 {
    color: #181818 !important;
}

.text-primary {
    font-family:  'Lato', sans-serif !important;
}

.text-secondary {
    font-family:  'Ropa Sans', sans-serif !important;
}

.text-accent {
    font-family: 'Ruda', sans-serif !important;
}

.text-accent-landing {
    font-family: 'Rosario', sans-serif !important;
}

.bg-light {
    background-color: #FFFFFF !important;
}

.bg-light-200 {
    background-color: #F3F3F3 !important;
}

.bg-light-300 {
    background-color: #EFEFEF !important;
}

.bg-light-400 {
    background-color: #E0E0E0 !important;
}

.bg-light-500 {
    background-color:  #C7C7C7 !important;
}

.bg-light-600 {
    background-color: #A0A0A0 !important;
}

.bg-light-700 {
    background-color:  #9B9B9B !important;        
}

.bg-danger {
    background-color: #FC4242 !important;
}

.bg-dark {
    background-color:  #000000 !important;
}

.bg-dark-100 {
    background-color:  #2F2F2F !important;
}

.bg-dark-200 {
    background-color: #181818  !important;
}

.text-justify {
    text-align: justify;
}

#navbarTogglerDemo02 {
    flex-grow: 0;
}

li {
    font-family: 'Ropa Sans', 'sans-serif';
}

.active {
    border-bottom: 4px #181818 solid;
}

.navbar {
    box-shadow: 0 0.5px 0px 0 #C7C7C7;
}

.img-responsive {
    width: 100%;
}

.test {
    max-width: 50%;
}

.showcase-landing {
    background: linear-gradient(0deg, rgba(160,160,160, 0.37),  rgba(160,160,160, 0.37)), url("/assets/images/other page.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.about-landing {
    background: linear-gradient(0deg, rgba(160,160,160, 0.37),  rgba(160,160,160, 0.37)), url("/assets/images/other page.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.my-banner {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(160,160,160, 0.37),  rgba(160,160,160, 0.37)), url("/assets/images/other page.jpg");
    background-size: cover;
}

footer {
    background: #181818;
}

.p-landing {
    font-size: 1.75rem;
    letter-spacing: 0.15em;
    max-width: 39.125rem;
}

h1 {
    font-size: 3rem;
}

.special {
    display: block;
    gap: 5rem;
}

.special .btn {
    width: 100%;
    margin: 2px;
}

.non-special .btn {
    width: 100%;
    margin: 2px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.my-flex-landing-shop {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
}

.my-flex-landing-shop > * {
    flex: 1 1 45%;
}

.my-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
}

.my-flex > * {
    flex: 1 1 33%;
}


.banner-parent-button {
    display: flex;
}

.banner-parent-button .btn {
    flex: 1;
}

.other-page-header {
    font-size: 4.5rem !important;
    margin: 0 auto;
    border-bottom: 2px solid black;
}

.other-page-underline-about {
    max-width: 33rem;
}

.other-page-h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}


/* small */
@media (min-width: 576px) {
    .special .btn {
        flex: 1;
    }

    .special {
        display: flex;
        gap: 1.25rem;
    }

    .img-responsive {
        width: 70%;
    }

    .my-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex > * {
        flex: 1 1 30%;
    }

    .non-special .btn {
        width: auto;
        margin: 2px;
    }

    .my-flex-landing-shop {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex-landing-shop > * {
        flex: 1 1 47%;
    }

    .other-page-header {
        font-size: 4rem !important;
        margin: 0 auto;
        border-bottom: 2px solid black;
    }
    
    .other-page-underline-about {
        max-width: 33rem;
    }
    
    .other-page-h2 {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

}

/* medium */
@media (min-width: 768px) {
    h1 {
        font-size: 3.563rem;
    }

    .showcase-landing {
        max-width: 100%;
        background-image: url("/assets/images/landing page1.png");
        background-size: cover;
    }

    #landing_image {
        max-width: 50%;
    }

    .special {
        display: flex;
        gap: 1.25rem;
    }

    .special.unique {
        display: block;
    }
        
    .img-responsive {
        width: 70%;
    }

    .my-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex > * {
        flex: 1 1 30%;
    }

    .my-flex-landing-shop {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex-landing-shop > * {
        flex: 1 1 40%;
    }

    .footer-p {
        font-size: 1.75rem;
    }

    .other-page-header {
        font-size: 5rem !important;
        margin: 0 auto;
        border-bottom: 2px solid black;
    }
    
    .other-page-underline-about {
        max-width: 33rem;
    }
    
    .other-page-h2 {
        font-size: 2.25rem;
        letter-spacing: 0.5rem;
    }

}



/* large */
@media (min-width: 992px) {
    h1 {
        /* font-size: 5.563rem; */
        font-size: 4.563rem;
    }

    .img-responsive {
        width: 70%;
    }

    .showcase-landing {
        max-width: 100%;
        background-image: url("/assets/images/landing page1.png");
        background-size: cover;
    }

    #landing_image {
        max-width: 50%;
    }

    .special {
        display: flex;
        gap: 1.25rem;
    }

    .special .btn {
        flex: 1;
    }

    .p-landing {
        font-size: 2.12rem;
    }

    .my-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex > * {
        flex: 1 1 40%;
    }

    .my-flex-landing-shop {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex-landing-shop > * {
        flex: 1 1 46%;
    }

    .footer-logo {
        max-width: 30%;
        max-height: 30%;
    }

    
}

/* extra large */
@media (min-width: 1200px) {
    .img-responsive {
        width: 50%;
    }

    .my-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex > * {
        flex: 1 1 30%;
    }

    .my-flex-landing-shop {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25em;
    }
    
    .my-flex-landing-shop > * {
        flex: 1 1 47%;
    }
    
    .banner-flex {
        display: flex;
        flex-wrap: wrap;
        max-width: 39rem;
    }

    .other-page-header {
        font-size: 7.75rem !important;
        margin: 0 auto;
        border-bottom: 2px solid black;
    }
    
    .other-page-underline-about {
        max-width: 33rem;
    }
    
    .other-page-h2 {
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }
}

